header{
    background-color: lightblue;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: lightBlue;
}

.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 40px;
    font-size: 20px;
    width:59%;
    border-radius:10px;

}

#results{
    width:20%;
    position: sticky;
    align-self: flex-start;
    top:0;
    padding: 50px;
    font-size: 20px;
    border-radius:10px;
}
#checker{
    
    background-color: lightBlue;
    border-radius:10px;
    width:200px;
    height:100px;
}
