
  #dummybodyid{
    color:teal;
    background-color:yellow;
  }
  fieldset{
    text-align:center;
  }
  h1{
    text-align: center;
  }
  form{
    padding-left:35%;
    padding-right:35%;
  }
  #zipOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #cityOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #latOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #longOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #firstNameOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #lastNameOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #emailOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #phoneNumberOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #zipOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #cityOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #latOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #longOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #stateOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #countyOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #validUser:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #passwordOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #validPasswordOut:hover{
    color:black;
    text-decoration:underline;
    text-decoration-color:teal;
  }
  #check{
    width:90px;
    height:50px;
    border-radius: 10px;
  }
  